@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes pulse-slow {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 0.5; }
}
.delay-1000 { animation-delay: 1s; }